@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.container * {
    margin-bottom: 32px;
    max-width: 525px;
}

.banner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.image {
    width: 100%;
    vertical-align: middle;
}

.banner-heading {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

button {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(77, 178, 23);
    transition: 1s;
}

.featured {
    padding: 100px 0px;
}

.featured-heading {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
    height: 60px;
}

.featured-heading h1 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}

.featured-heading p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */

}

.featured-images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: end;
    margin-top: 100px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.featured-images .image img {
    width: 100%;
    height: 500px;
}

.featured-images .image .img-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.featured-images .image .img-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-images .image .img-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.image p {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
    padding: 30px;
}

.service-container {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 0px 80px;
    max-width: 66%;
    margin: 0 auto;
    height: 200px;
    align-items: center;
}

.service-container .service img {
    width: 48px;
    height: 48px;
    text-align: center;
    align-items: center;
}

.service-container .service p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;

}

.service-1 {
    text-align: center;
}

.service-2 {
    text-align: center;
}

.service-3 {
    text-align: center;
}

.off-pink {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
}
.hot-paragraph{
    padding: 50px;
}
.hot-image{
    padding: 50px;
    padding-top: 100px;
}